.footer {
  padding-top: 40px;
  margin-top: 60px;
  color: lighten($gray-color, 12%);
  background-color: $dark-color;

  a {
   color: darken($gray-color, 40%);

   &:hover {
    color: lighten($gray-color, 14%); 
  }
}

  ul {
    padding: 0;
    list-style: none;
  }
}

