$accent-color: #df8a13;
$accent-light: #f0ad4e;
$accent-dark: #8a5100;
$base-color: #165690;
$base-light: #5182ae;
$base-dark: #053259;
$dark-color: #222222;
$gray-color: #dddddd;
$font-main: "PT Sans", sans-serif;
$font-header: "PT Serif", serif;
