.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 4px;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s; }
  .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background-color: #165690; }

.navbar-left > li {
  margin: 5px 5px 5px 0; }

.navbar-right > li {
  margin: 5px 0 5px 5px; }

.navbar-inverse {
  background-color: #181818;
  border-color: transparent; }

.navbar-inverse .navbar-nav > li > a {
  border-radius: 4px;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s; }
  .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #5182ae !important; }

.navbar-inverse .navbar-nav > .active > a {
  background-color: #053259; }

.panel-info > .panel-heading {
  border: none;
  color: white;
  background-color: #df8a13; }

.panel-title {
  letter-spacing: 0.1em;
  font-size: 1.2rem; }

.panel-body {
  border: 1px solid #dddddd;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }

.panel {
  margin-bottom: 30px;
  border: none;
  background-color: #f1f1f1; }
  .panel-info > .panel-heading {
    color: #ffffff;
    border: none;
    background-color: #df8a13; }
  .panel-title {
    letter-spacing: 0.1em;
    font-size: 1.2rem; }

.form-group > .form-control,
.input-group-lg > .form-control {
  font-size: 0.875rem; }

.thumbnail {
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s; }

.well {
  border-color: #dddddd;
  background-color: #f1f1f1; }

html {
  overflow-y: scroll;
  font-size: 16px; }

body {
  font-size: 1rem;
  font-family: "PT Sans", sans-serif; }

a {
  color: #165690;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s; }
  a:hover, a:focus {
    text-decoration: none;
    color: #df8a13; }

h1 {
  margin: 40px 0;
  font-family: "PT Serif", serif; }
  @media (min-width: 576px) {
    h1 {
      font-size: 3rem; } }
  @media (max-width: 576px) {
    h1 {
      font-size: 2rem; } }
  h1::after {
    position: absolute;
    width: 100%;
    margin: 0.85em 0 0 15px;
    border-bottom: 3px solid rgba(240, 173, 78, 0.7);
    content: ""; }

h2 {
  margin: 50px 0 40px 40px;
  font-family: "PT Serif", serif; }
  @media (min-width: 576px) {
    h2 {
      font-size: 2.5rem; } }
  @media (max-width: 576px) {
    h2 {
      font-size: 1.75rem; } }
  h2::before {
    position: absolute;
    width: 25px;
    left: 0;
    margin: 0.25em 0 0 0;
    border-bottom: 3px solid rgba(240, 173, 78, 0.9);
    content: ""; }
  h2::after {
    position: absolute;
    width: 100%;
    margin: 0.85em 0 0 15px;
    border-bottom: 3px solid rgba(240, 173, 78, 0.7);
    content: ""; }

@media (min-width: 576px) {
  h3 {
    font-size: 1.5rem; } }

@media (max-width: 576px) {
  h3 {
    font-size: 1.25rem; } }

section {
  position: relative;
  overflow: hidden; }

.header-logo {
  padding: 100px 20px;
  text-align: center;
  background-color: #222222;
  background-image: url(../img/header-bg.jpg);
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover; }
  .header-logo_title {
    display: block;
    color: #df8a13;
    font-size: 3.5rem;
    font-weight: bold;
    font-family: "PT Serif", serif;
    letter-spacing: 0.33em;
    text-shadow: 0 0 5px #000000, 0 0 20px #000000; }
    @media (min-width: 576px) {
      .header-logo_title {
        letter-spacing: 0.33em;
        font-size: 3.5rem; } }
    @media (max-width: 576px) {
      .header-logo_title {
        letter-spacing: 0.2em;
        font-size: 2.5rem; } }
  .header-logo_description {
    display: block;
    font-size: 1.15rem;
    color: white;
    letter-spacing: 0.2em;
    text-shadow: 0 0 5px #000000, 0 0 20px #000000; }

.main .panel-search {
  margin: 40px 0 20px 0; }

.new-films-item:hover .new-films-item_label,
.top-week-item:hover .top-week-item_label {
  color: white; }

.new-films .row,
.top-week .row {
  margin-right: -7.5px;
  margin-left: -7.5px; }

.new-films .thumbnail,
.top-week .thumbnail {
  margin-bottom: 15px; }

.new-films-item,
.top-week-item {
  padding-right: 7.5px;
  padding-left: 7.5px; }
  .new-films-item:hover .thumbnail,
  .top-week-item:hover .thumbnail {
    border-color: #df8a13;
    background-color: #df8a13; }
  .new-films-item_image,
  .top-week-item_image {
    width: 100%; }
  .new-films-item_label,
  .top-week-item_label {
    white-space: nowrap;
    display: block;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; }
  .new-films-item .thumbnail,
  .top-week-item .thumbnail {
    -webkit-transition: background-color 0.25s ease;
    -o-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease; }
  .new-films-item .caption,
  .top-week-item .caption {
    text-align: center; }

.film-news img {
  width: 100%; }

.film-news-item:hover .thumbnail {
  background-color: #f0ad4e; }

.film-news-item:hover h3 > a {
  color: #df8a13; }

.film-news-item:hover .btn-warning {
  background-color: #df8a13; }

.film-news-item_text {
  text-align: justify; }

.film-news h3 > a {
  -webkit-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  transition: color 0.25s ease; }

.film-news .thumbnail {
  margin-bottom: 0;
  -webkit-transition: background-color 0.25s ease;
  -o-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease; }

.film-news .btn-warning {
  float: right;
  margin-bottom: 30px;
  -webkit-transition: background-color 0.25s ease;
  -o-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease; }

.film-info {
  font-size: 1.2rem; }
  .film-info_badge {
    font-size: 0.8em; }
    .film-info_badge:not(:last-child) {
      margin-right: 5%; }
  .film-info_well {
    border-top-radius: 0; }

.film-comments .btn {
  float: right; }

.left-sidebar {
  margin-top: 30px; }

.vertical-slider {
  border-radius: 4px;
  overflow: hidden; }
  .vertical-slider img {
    width: 100%; }

.site-news ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.site-news li:not(:last-child) > a > div {
  min-height: 85px;
  margin-bottom: 10px; }
  .site-news li:not(:last-child) > a > div::after {
    position: absolute;
    content: "";
    width: calc(100% - 85px);
    height: 1px;
    background-color: #dddddd;
    buttom: -5px;
    right: 0; }

.site-news-item {
  clear: both;
  position: relative; }
  .site-news-item:not(:last-child) {
    min-height: 85px;
    margin-bottom: 15px; }
    .site-news-item:not(:last-child)::after {
      position: absolute;
      right: 0;
      bottom: -5px;
      width: calc(100% - 85px);
      height: 1px;
      content: "";
      background-color: #dddddd; }
  .site-news-item:hover .site-news-item_title a {
    color: #df8a13; }
  .site-news-item:hover .site-news-item_image {
    border-color: #df8a13;
    background-color: #df8a13; }
  .site-news-item_image {
    float: left;
    width: 75px;
    margin: 0 10px 10px 0;
    -webkit-transition: background-color 0.25s ease;
    -o-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease; }
    .site-news-item_image img {
      width: 100%; }
  .site-news-item_date {
    text-align: right;
    color: #919191;
    font-size: 0.8rem; }
  .site-news-item_title {
    margin-bottom: 10px; }
    .site-news-item_title a {
      -webkit-transition: color 0.25s ease;
      -o-transition: color 0.25s ease;
      transition: color 0.25s ease;
      color: #165690;
      overflow: hidden;
      height: 50px;
      font-size: 1rem;
      line-height: 1.5em; }

.top-films .panel-body {
  margin-right: 0;
  margin-left: 0; }

.top-films .list-group {
  margin-bottom: 0; }

.top-films .badge {
  margin-top: 3px; }

.top-films-item {
  border-top: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  background-color: transparent; }
  .top-films-item:first-child {
    border-top: none;
    border-radius: 0; }
  .top-films-item:last-child {
    border-bottom: none;
    border-radius: 0; }
  .top-films-item:hover {
    background-color: #df8a13; }
    .top-films-item:hover a {
      color: white; }
    .top-films-item:hover .badge {
      background-color: #222222; }

.footer {
  padding-top: 40px;
  margin-top: 60px;
  color: #fcfcfc;
  background-color: #222222; }
  .footer a {
    color: #777777; }
    .footer a:hover {
      color: white; }
  .footer ul {
    padding: 0;
    list-style: none; }
